.profile-info__subtitle {
    margin: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
}

@media screen and (max-width: 960px) {
    .profile-info__subtitle {
        line-height: 17px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .profile-info__subtitle {
        text-align: center;
    }
}
