.content__loading-icon {
    background-image: url('../../../images/icon-loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 15px;
    min-height: 100px;
}
