.auth-page__form {
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 0 30px;
    width: 100%;
    max-width: 418px;
}

@media screen and (max-width: 480px) {
    .auth-page__form {
        margin-bottom: 20px;
        max-width: 320px;
    }
}
